<worksheet name='{{ worksheet_name }}'>
  <table>
    <view>
      <datasources>
        <datasource caption='Extract' name='federated.datasource' />
      </datasources>
      <datasource-dependencies datasource='federated.datasource'>
        <column datatype='real' name='[{{ chart.columns[0] }}]' role='measure' type='quantitative' />
      </datasource-dependencies>
      <aggregation value='true' />
    </view>
  </table>
</worksheet>
